@import "@styles/index.scss";

.products {
  padding: 100px 0 100px 0;

  &__pre-title {
    color: $secondary-green-color;
    text-align: center;
    font-family: $yellowtail-font;
    font-size: 36px;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 5px;
  }

  &__title {
    color: $primary-color;
    text-align: center;
    font-family: $secondary-font;
    font-size: 50px;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 40px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 100px;
  }

  &__item {
    width: 325px;
    border-radius: 30px;
    background: #f9f8f8;
    position: relative;
    padding-top: 50px;
    cursor: pointer;
  }
  &__image {
    width: 335px;
    height: 328px;
    mix-blend-mode: multiply;
  }

  &__stars {
    width: 21;
    height: 25px;
    fill: #ffa858;
  }

  &__box-category {
    border-radius: 8px;
    display: inline-block;
    padding: 5px 12px 6px 12px;
    background: #274c5b;
    position: absolute;
    top: 5%;
    left: 5%;
  }

  &__category {
    color: #fff;
    text-align: center;
    font-family: Open Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  &__name {
    color: #274c5b;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: relative;
    margin-bottom: 20px;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      border: 1px solid #dedddd;
      width: 100%;
      height: 1px;
      bottom: -50%;
    }
  }

  &__content {
    padding: 30px;
  }

  &__price-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__price {
    color: #274c5b;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  &__discount {
    color: #b8b8b8;
    text-align: center;
    font-family: Open Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-right: 8px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      border: 1px solid #b8b8b8;
      top: 50%;
      left: 0;
      transform: translate(0, -50%);
    }
  }

  &__btn {
    @include button;
    background-color: #1e1e1e;
    margin: 0 auto;
    color: #fff;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  &__btn-blue {
    background-color: #274c5b;
  }

  &__arrow {
    @include icon;
  }
}
