@import "@styles/index.scss";

.about {
  padding: 50px 0 50px 0;
  background-color: $light-bg-color;

  &__content {
    display: flex;
  }

  &__box-imgage {
    max-width: 911px;
  }
  &__image {
    width: 100%;
  }

  &__box-content {
    max-width: 690px;
  }

  &__pre-title {
    color: $secondary-green-color;
    font-family: $yellowtail-font;
    font-size: 36px;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 5px;
  }

  &__title {
    color: $primary-color;
    font-family: $secondary-font;
    font-size: 50px;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 5px;
  }

  &__desc {
    color: $primary-gray-color;
    font-family: $primary-font;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.6;
    margin-bottom: 20px;
  }

  &__btn {
    @include button;
    color: $primary-white-color;
    font-family: $secondary-font;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    background: $primary-color;
  }

  &__arrow {
    @include icon;
  }
}

.about-list {
  margin-bottom: 45px;

  &__item {
    display: flex;
    align-items: center;

    &:first-child {
      margin-bottom: 35px;
    }
  }
  &__bg {
    border-radius: 20px;
    background: $primary-white-color;
    width: 101px;
    height: 101px;
    margin-right: 20px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      background-color: #fff4cd;
      top: 48%;
      z-index: 0;
      left: 10%;
    }
  }

  &__icon {
    position: absolute;
    top: 20%;
    left: 15%;
    z-index: 1;
  }

  &__title {
    color: $primary-color;
    font-family: $secondary-font;
    font-size: 25px;
    font-weight: 800;
    line-height: normal;
  }

  &__desc {
    color: $primary-gray-color;
    font-family: $primary-font;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.6;
  }
}
