$primary-font: "Open Sans", sans-serif;
$secondary-font: "Roboto", sans-serif;
$yellowtail-font: "Yellowtail", sans-serif;

$primary-white-color: #fff;
$secondary-bg-color: #e3f1e9;
$about-bg-color: #f9f8f8;
$hero-bg-color: #f1eff0;
$gallery-bg-color: #f1f8f4;
$yellow-bg-color: rgba(253, 176, 45, 0.16);
$primary-color: #274c5b;
$green-color: #68a47f;
$primary-gray-color: #525c60;
$secondary-gray-color: #b8b8b8;
$input-color: #ababab;
$input-bg-color: #fafafa;
$secondary-green-color: #7eb693;
$yellow-color: #efd372;
$line-color: #d4d4d4;
$not-found-color: #bbc9c9;
