@mixin mobile-small {
  @media screen and (max-width: 767.98px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin desktop-small {
  @media screen and (max-width: 1199.98px) {
    @content;
  }
}

@mixin desktop-large {
  @media screen and (min-width: 1200px) {
    @content;
  }
}

@mixin icon {
  width: 19px;
  height: 19px;
  background: #335b6b;
  border-radius: 50%;
}

@mixin button {
  max-width: 220px;
  padding: 28px 39px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
  border-radius: 16px;
}

@mixin line {
  content: "";
  position: absolute;
  border: 1px solid #b8b8b8;
  width: 100%;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
}

@mixin input-quantity {
  color: #274c5b;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 16px;
  border: 2px solid #274c5b;
  background: #fff;
  max-width: 130px;
  margin-right: 20px;
  height: 80px;
  padding: 28px 50px;
  outline: none;
}
