@import "@styles/index.scss";

.hero {
  padding: 90px 0 180px;
  background-color: $hero-bg-color;
  background-image: url("~@assets/images/heroBg.png");
  background-repeat: no-repeat;
  background-position: bottom right -100px;
  background-size: contain;

  @include desktop-large {
    background-image: url("~@assets/images/strawberry.png"),
      url("~@assets/images/garlic.png"), url("~@assets/images/heroBg.png"),
      url("~@assets/images/leavesBottomRight.png"),
      url("~@assets/images/leavesTopRight.png"),
      url("~@assets/images/smallLeavesLeft.png"),
      url("~@assets/images/smallLeavesRight.png"),
      url("~@assets/images/leavesLeft.png");
    background-position: top center, top left, top right, bottom right,
      top right, top 30% left 8%, top right 6%, bottom left;
    background-size: auto, auto, contain, auto, auto, auto, auto, auto, auto;
  }

  &__pre-title {
    color: $green-color;
    font-family: $yellowtail-font;
    font-size: 36px;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 5px;
  }
  &__title {
    color: $primary-color;
    font-family: $secondary-font;
    font-size: 42px;
    font-weight: 800;
    line-height: normal;
    max-width: 530px;
    margin-bottom: 20px;
    @include tablet {
      font-size: 70px;
    }
  }

  &__btn {
    @include button;
    color: $primary-color;
    font-family: $secondary-font;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    background: $yellow-color;
  }

  &__arrow {
    @include icon;
  }
}
