@import "@styles/index.scss";

.logo {
  display: flex;
  align-items: center;
  gap: 5px;

  &__icon {
    width: 37px;
    height: 54px;
  }
  &__name {
    color: $primary-color;
    font-family: $secondary-font;
    font-size: 38px;
    font-weight: 700;
    line-height: normal;
  }
}
