@import "@styles/index.scss";

.subscribe {
  background-image: url("~@assets/images/subscribeImage.png");
  width: 100%;
  background-repeat: no-repeat;
  padding: 99px 107px;
  border-radius: 25px;
  background-size: contain;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__title {
    color: $primary-white-color;
    font-family: $secondary-font;
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    max-width: 357px;
  }

  &__input {
    color: $input-color;
    font-family: $secondary-font;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    border: none;
    outline: none;
    padding: 31px 174px 31px 23px;
    border-radius: 16px;
    background: $primary-white-color;
    margin-right: 5px;
  }

  &__btn {
    @include button;
    color: $primary-white-color;
    font-family: $secondary-font;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: $primary-color;
    display: inline-block;
  }
}
