@import "@styles/index.scss";

.blog {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 150px;
  gap: 50px;

  &__image {
    border-radius: 30px;
    width: 100%;
  }

  &__post {
    width: 100%;
    position: relative;
    margin-bottom: 235px;
  }

  &__date {
    position: absolute;
    top: 5%;
    left: 5%;
    color: $primary-color;
    text-align: center;
    font-family: $secondary-font;
    font-size: 25px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    width: 82px;
    height: 82px;
    background-color: $primary-white-color;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__post-content {
    position: absolute;
    top: 80%;
    max-width: 560px;
    left: 5%;
    border-radius: 31px 34px 30px 30px;
    background: $primary-white-color;
    box-shadow: 0px 20px 35px 0px rgba(167, 167, 167, 0.25);
    padding: 45px 50px 40px 45px;
  }

  &__author-container {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 15px;
  }

  &__author {
    color: $primary-color;
    font-family: $secondary-font;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &__post-title {
    color: $primary-color;
    font-family: $secondary-font;
    font-size: 25px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 5px;
  }

  &__post-description {
    color: $primary-gray-color;
    font-family: $primary-font;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.6;
    margin-bottom: 15px;
  }

  &__read-more {
    @include button;
    color: $primary-color;
    font-family: $secondary-font;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    background: $yellow-color;
  }
  &__arrow {
    @include icon;
  }
}
