@import "@styles/index.scss";

.subscribe {
  padding: 40px 0;

  &__bg {
    padding: 30px 25px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 323px;
    margin: 0 auto;
    gap: 15px;
    background-image: url("~@assets/images/subscribeImage.png");
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;

    @include tablet {
      flex-direction: row;
      gap: 40px;
      padding: 15px 50px;
    }
  }

  &__title {
    text-align: center;
    color: $primary-white-color;
    font-size: 36px;
    font-family: $secondary-font;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    max-width: 357px;
    @include tablet {
      font-size: 50px;
      text-align: left;
    }
  }

  &__form {
    @include mobile-small {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    @include tablet {
      width: 50%;
    }
  }

  &__input {
    border: none;
    color: $input-color;
    font-family: $secondary-font;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    outline: none;
    border-radius: 16px;
    background: $primary-white-color;
    margin-right: 5px;
    margin-bottom: 20px;
    width: 100%;
    padding: 20px 23px;

    @include tablet {
      max-width: 350px;
      padding: 30px 23px;
    }
  }

  &__btn {
    @include button;
    color: $primary-white-color;
    font-family: $secondary-font;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: $primary-color;
    display: inline-block;
  }
}
