@import "@styles/index.scss";

.news {
  padding: 100px 0 100px;

  &__content-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__pre-title {
    color: $secondary-green-color;
    font-family: $yellowtail-font;
    font-size: 36px;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 5px;
  }

  &__title {
    color: $primary-color;
    font-family: $secondary-font;
    font-size: 50px;
    font-weight: 800;
    line-height: normal;
    max-width: 702px;
    margin-bottom: 45px;
  }

  &__btn {
    @include button;
    color: $primary-color;
    font-family: $secondary-font;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    border: 2px solid $primary-color;
    background: $primary-white-color;
  }

  &__arrow {
    @include icon;
  }

  &__block {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-bottom: 400px;
  }

  &__image {
    border-radius: 30px;
    width: 100%;
  }

  &__post {
    position: relative;
  }

  &__date {
    position: absolute;
    top: 5%;
    left: 5%;
    color: $primary-color;
    text-align: center;
    font-family: $secondary-font;
    font-size: 25px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    width: 82px;
    height: 82px;
    background-color: $primary-white-color;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__post-content {
    position: absolute;
    top: 80%;
    max-width: 613px;
    left: 4%;
    border-radius: 30px;
    border-radius: 31px 34px 30px 30px;
    background: $primary-white-color;
    box-shadow: 0px 20px 35px 0px rgba(167, 167, 167, 0.25);
    padding: 45px 57px 60px 57px;
  }

  &__author-container {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 15px;
  }

  &__author {
    color: $primary-color;
    font-family: $secondary-font;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &__post-title {
    color: $primary-color;
    font-family: $secondary-font;
    font-size: 25px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 5px;
  }

  &__post-description {
    color: $primary-gray-color;
    font-family: $primary-font;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.6;
    margin-bottom: 15px;
  }

  &__read-more {
    @include button;
    color: $primary-color;
    font-family: $secondary-font;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    background: $yellow-color;
  }

  &__subscribe {
    background-image: url("~@assets/images/subscribeImage.png");
    width: 100%;
    background-repeat: no-repeat;
    padding: 99px 107px;
    border-radius: 25px;
    background-size: contain;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__subscribe-title {
    color: $primary-white-color;
    font-family: $secondary-font;
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    max-width: 357px;
  }

  &__subscribe-input {
    color: $input-color;
    font-family: $secondary-font;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    border: none;
    outline: none;
    padding: 31px 174px 31px 23px;
    border-radius: 16px;
    background: $primary-white-color;
    margin-right: 5px;
  }

  &__subscribe-btn {
    @include button;
    color: $primary-white-color;
    font-family: $secondary-font;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: $primary-color;
    display: inline-block;
  }
}
