@import "@styles/index.scss";

.offer {
  padding: 200px 0 200px 0;
  background-color: $primary-color;

  &__pre-title {
    color: $secondary-green-color;
    font-family: $yellowtail-font;
    font-size: 36px;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 5px;
  }

  &__title {
    color: $primary-white-color;
    font-family: $secondary-font;
    font-size: 50px;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 50px;
  }
}
